.light {
    background-color: white;
    transition: all 500ms;
}

.wheat {
    background-color: wheat;
    transition: all 500ms;
}

.pink {
    background-color: rgb(236, 195, 202);
    transition: all 500ms;
}

.medium {
    background-color: grey;
}

.dark {
    background-color: black;
    transition: all 500ms;
}

.footer {
    text-align: center;
    margin: 100px 0 30px;
    color: black;
}

.dark .footer {
    color: white;
}

.medium .footer {
    color: white;
}